<h1 class="text-center">Gasolinera</h1>

<table class="table table-dark">
    <thead>
        <th>Combustible</th>
        <th>Precio</th>
    </thead>
    <tbody>
        <tr *ngFor="let tipo of tiposGas">
            <td>{{tipo.nombre}}</td>
            <td>${{tipo.precio}}</td>
        </tr>
    </tbody>
</table>

<h2 class="text-center">Nueva Venta</h2>
<form #gasolineraForm="ngForm">
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label for="tipos">Tipo de combustible</label>
                <select class="form-control" id="tipos" required [(ngModel)]="venta.tipo" name="tipo">
                    <option *ngFor="let tipo of tiposGas" [ngValue]="tipo">{{tipo.nombre}}</option>
                </select>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="cant">Cantidad en galones</label>
                <input type="number" min="0.05" max="150" step="0.05" class="form-control" onKeyDown="return false" id="cant" required [(ngModel)]="venta.cantidad" name="cantidad">
            </div>
        </div>
        <div class="col-4">
            <div class="alert alert-success text-center">
                <p>ESTA VENTA:</p>
                <h3>${{(venta.cantidad * venta.tipo.precio).toFixed(2)}}</h3>
            </div>
        </div>
    </div>
</form>

