<div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6 mx-auto">
  
            <div class="card rounded-0">
              <div class="card-header">
                <h3 class="mb-0">Sign In</h3>
              </div>
              <div class="displayTable text-center">
                <div class="displayTableCell p-5">
                  <div class="authBlock">
  
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Username" #userName required>
                    </div>
  
                    <div class="form-group">
                      <input type="password" class="form-control" placeholder="Password" #userPassword required>
                    </div>
  
                    <div class="forgotPassword">
                      <span routerLink="/forgot-password">Forgot Password?</span>
                    </div>
  
                    <br>  
  
                    <!-- Calling SignIn Api from AuthService -->
                    <div class="form-group">
                      <input type="button" class="btn btn-success btn-lg" value="Log in"
                        (click)="authService.SignIn(userName.value, userPassword.value)">
                    </div>
              
                    <br>
  
                    <div class="form-group">
                      <span class="or"><span class="orInner left">Or</span></span>
                    </div>
  
                    <!-- Calling GoogleAuth Api from AuthService -->
                    <div class="form-group">
                      <button type="button" class="btn btn-primary btn-lg" (click)="authService.GoogleAuth()">
                        <i class="fab fa-google-plus-g"></i>
                        Log in with Google
                      </button>
                    </div>
                    <div class="form-group">
                      <button type="button" class="btn btn-primary btn-lg" (click)="authService.FacebookAuth()">
                        <i class="fab fa-google-plus-g"></i>
                        Log in with Facebook
                      </button>
                    </div>
                    <div class="form-group">
                      <button type="button" class="btn btn-primary btn-lg" (click)="authService.GithubAuth()">
                        <i class="fab fa-google-plus-g"></i>
                        Log in with Github
                      </button>
                    </div>
  
  
  
                  </div>
  
  
                  <div class="redirectToLogin">
                    <span>Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
        </div>
        <!--/row-->
      </div>
      <!--/col-->
    </div>
  </div>
